<div class="board">
  <div class="board-bar">
    <p class="board-name mt-2">IonHH Front End Test</p>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <mat-form-field class="example-full-width">
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        (input)="search()"
        placeholder="Buscar"
        name="Buscar"
        maxlength="20"
        [(ngModel)]="filter"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <div class="example-button-container">
      <button
        (click)="openModal(null)"
        color="primary"
        mat-fab
        aria-label="Icon button to add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="board-wrapper mt-3">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.Columns">
        <div class="column-title">{{ column.Name }}</div>
        <ngx-skeleton-loader
          count="2"
          appearance="line"
          animation="pulse"
          *ngIf="loading"
        ></ngx-skeleton-loader>
        <div
          class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.TaskNames"
          (cdkDropListDropped)="drop($event, column.Name)"
        >
          <div
            class="task"
            *ngFor="let item of column.TaskNames; let i = index"
            cdkDrag
          >
            <p>
              {{ item }}
              <i
                class="fa fa-pencil icon-style"
                aria-hidden="true"
                (click)="openModal(item, column, i)"
              ></i
              ><i
                class="fa fa-trash icon-style"
                aria-hidden="true"
                (click)="deleteTask(column.Name, i)"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
